<!DOCTYPE html>
<html dir="{{ direction }}" lang="{{ lang }}">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{ title }}</title>
  <base href="{{ base }}"/>
  {% if description %}
    <meta name="description" content="{{ description }}"/>
  {% endif %}
  {% if keywords %}
    <meta name="keywords" content="{{ keywords }}"/>
  {% endif %}
  <script src="catalog/view/javascript/jquery/jquery-3.3.1.min.js" type="text/javascript"></script>
  <link href="catalog/view/theme/default/stylesheet/bootstrap.css" rel="stylesheet" media="screen"/>
  <script src="catalog/view/javascript/popper.min.js" type="text/javascript"></script>
  <script src="catalog/view/javascript/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
  <link href="catalog/view/javascript/font-awesome/css/fontawesome-all.min.css" rel="stylesheet" type="text/css"/>
  
  <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500' rel='stylesheet' type='text/css'>
  <link href="catalog/view/theme/opencart/stylesheet.css" rel="stylesheet">
  <link href="catalog/view/theme/opencart/hover-menu.css" rel="stylesheet">

  {% for style in styles %}
    <link href="{{ style.href }}" type="text/css" rel="{{ style.rel }}" media="{{ style.media }}"/>
  {% endfor %}
  {% for script in scripts %}
    <script src="{{ script }}" type="text/javascript"></script>
  {% endfor %}
  <script src="catalog/view/javascript/common.js" type="text/javascript"></script>
  {% for link in links %}
    <link href="{{ link.href }}" rel="{{ link.rel }}"/>
  {% endfor %}
  {% for analytic in analytics %}
    {{ analytic }}
  {% endfor %}
</head>
<body>
{% if cookie %}
  {{ cookie }}
{% endif %}
<nav id="top">
    <div class="container">
      <div class="nav float-left">
	<ul class="list-inline">
	      {% if informations %}
	    <h5 style="display: none">{{ text_information }}</h5>
	    {% for information in informations %}  
	      <li class="list-inline-item"><a href="{{ information.href }}" title="{{ information.title }}">{{ information.title }}</a></li>
		{% endfor %}
	      {% endif %}
	</ul>
      </div>
                
                
    <div class="nav float-right">
      <ul class="list-inline">
        <li class="list-inline-item">{{ currency }}</li>
        <li class="list-inline-item">{{ language }}</li>
	  {% if logged %}
	  <li class="list-inline-item">
	    <div class="dropdown">
	      <a href="{{ account }}" class="dropdown-toggle" data-toggle="dropdown"><i class="fas fa-user"></i> <span class="d-none d-md-inline">{{ text_account }}</span> <i class="fas fa-caret-down"></i></a>
	      <div class="dropdown-menu dropdown-menu-right">
		<a href="{{ account }}" class="dropdown-item">{{ text_account }}</a>
		<a href="{{ order }}" class="dropdown-item">{{ text_order }}</a>
		<a href="{{ transaction }}" class="dropdown-item">{{ text_transaction }}</a>
		<a href="{{ download }}" class="dropdown-item">{{ text_download }}</a>
		<a href="{{ logout }}" class="dropdown-item">{{ text_logout }}</a>
	      </div>
	    </div>
	  </li>
	{% else %}
	  <li class="list-inline-item"><a href="{{ login }}" title="{{ text_login }}"><i class="fas fa-door-open"></i> <span class="d-none d-md-inline">{{ text_login }}</span></a></li>
	  <li class="list-inline-item"><a href="{{ register }}" title="{{ text_register }}"><i class="fas fa-user-plus"></i> <span class="d-none d-md-inline">{{ text_register }}</span></li>
	  {% endif %}
        <!-- 
        <li class="list-inline-item"><a href="{{ wishlist }}" id="wishlist-total" title="{{ text_wishlist }}"><i class="fas fa-heart"></i> <span class="d-none d-md-inline">{{ text_wishlist }}</span></a></li>
        <li class="list-inline-item"><a href="{{ shopping_cart }}" title="{{ text_shopping_cart }}"><i class="fas fa-shopping-cart"></i> <span class="d-none d-md-inline">{{ text_shopping_cart }}</span></a></li>
        <li class="list-inline-item"><a href="{{ checkout }}" title="{{ text_checkout }}"><i class="fas fa-share"></i> <span class="d-none d-md-inline">{{ text_checkout }}</span></a></li>
        -->
	<li class="list-inline-item"><a href="{{ wishlist }}" id="wishlist-total" title="{{ text_wishlist }}"><i class="fas fa-heart"></i> <span class="d-none d-md-inline">{{ text_wishlist }}</span></a></li>
      </ul>
    </div>
  </div>
</nav>
<header>
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-lg-4">
        <div id="logo">
          {% if logo %}
            <a href="{{ home }}"><img src="{{ logo }}" title="{{ name }}" alt="{{ name }}" class="img-fluid"/></a>
	    {% else %}
            <h1><a href="{{ home }}">{{ name }}</a></h1>
	    {% endif %}
        </div>
      </div>
      <div class="col-md-5" style="font-size: 1.2em;">
	<ul style="margin-bottom: 5px; list-style: none">
	  <li>{{ telephone }}</li>
	  <li><a href="{{ contact }}"><i class="fas fa-address-card"></i></a> <span class="inline">{{ address }}</span></li>
	</ul>
      </div>
      <div class="col-md-4 col-lg-3">{{ cart }}</div>
    </div>

    <div class="row">
      <div class="col-md-3 hover-menu">{{ menu }} </div>
      <div class="col-md-9">{{ search }}</div>
    </div>
  </div>
</header>
<main>
